{% load custom_filters %} 
<div class="main-input-container">
    <h3 class="title-input-container">Analysis Details</h3>


    <div style="margin-bottom: 20px; overflow: hidden; display: flex; flex-direction: row; justify-content: space-between;">
      <div class="input-container">
        <label class="input-label">Team Analyst:</label>
        <input type="text" value="{{ incident_data.UserText11 }}" class="input-box" style="width: auto;" name="user_text11_team_analysis" />
      </div>
      <div class="input-container">
        <label class="input-label">Failure Detection:</label>
        <input type="text" value="{{ incident_data.FailureDetection|extract_after_colon }}" class="input-box" style="width: auto;" name="failure_detection" />
      </div>
      <div class="input-container">
        <label class="input-label">Part Category:</label>
        <input type="text" value="{{ incident_data.UserText16|extract_after_colon }}" class="input-box" style="width: auto;" name="user_text16_part_category" />
      </div>
      <div class="input-container">
        <label class="input-label">Failure Mode:</label>
        <input type="text" value="{{ incident_data.FailureMode|extract_after_colon }}" class="input-box" style="width: auto;" name="failure_mode" />
      </div>
    </div>


    <div>
      <div class="input-container" style="width: 100%;">
        <label class="input-label" style="width: 140px; text-align: right;">Analysis Result:</label>
        <textarea name="analysis_result" rows="6" class="input-box" style="width: 100%; text-align: left;">{{ incident_data.AnalysisResults }}
      </textarea>
      </div>
      <div class="input-container" style="width: 100%;">
        <label class="input-label" style="width: 140px; text-align: right;">Analysis Recomendation:</label>
        <textarea name="analysis_recomendation" rows="6" class="input-box" style="width: 100%; text-align: left;">{{ incident_data.AnalysisRecommendation }}
      </textarea>
      </div>
      <div class="input-container" style="width: 100%; display: flex; justify-content: flex-start;">
        <label class="input-label" style="width: 122px; text-align: right;">Attachments:</label>
        <input type="file" value="{{ incident_data.AttachmentsAnalysis }}" class="input-box" style="width: auto;" name="attachments_analysis" />
      </div>
    </div>
  </div>
