<div class="main-input-container">
  <h3 class="title-input-container">Detail Failure Information</h3>
  <div class="input-container">
    <label class="input-label" for="failure_mode">Failure Mode:</label>
    <select id="failure_mode" class="input-box" name="failure_mode">
      <option value="">Option 1</option>
      <option value="">Option 2</option>
      <option value="">Option 3</option>
    </select>
  </div>
  <div class="input-container">
    <label class="input-label" for="failure_symptom">Failure Symptom:</label>
    <select id="failure_symptom" class="input-box" name="failure_symptom">
      <option value="">Option 1</option>
      <option value="">Option 2</option>
      <option value="">Option 3</option>
    </select>
  </div>
  <div class="input-container">
    <label class="input-label">Incident Description:</label>
    <textarea
      class="input-box"
      name="fracas_incident_description"
      rows="4"
      cols="50"
    >
Testing</textarea
    >
  </div>
  <div class="input-container">
    <label class="input-label">Incident Date:</label>
    <input
      type="date"
      value="2023-09-14"
      class="input-box"
      name="incident_date"
    />
  </div>
  <div class="input-container">
    <label class="input-label">Notice Date:</label>
    <input
      type="date"
      value="2023-09-14"
      class="input-box"
      name="notice_date"
    />
  </div>
  <div class="input-container">
    <label class="input-label">Relevant Category:</label>
    <input
      type="text"
      value="Testing"
      class="input-box"
      name="relevant_category"
    />
  </div>
  <div class="input-container">
    <label class="input-label">Remark Incident Entry:</label>
    <textarea class="input-box" name="remark_incident_entry" rows="4" cols="50">
Testing</textarea
    >
  </div>
  <div class="input-container">
    <label class="input-label">Incident Attachment:</label>
    <input
      onclick=""
      type="text"
      value="Testing"
      class="input-box"
      name="incident_attachment"
    />
  </div>
</div>
