<table>
  <tr>
    <th></th>
    <th>Incident</th>
    <th>ID</th>
    <th>Replaced</th>
    <th>Item Cost</th>
    <th>Personnel Count</th>
    <th>Elapsed Time (Hrs)</th>
    <th>Work Log</th>
    <th>Total Maintenance Time</th>
    <th>Total Maintenance Time</th>
    <th>Start Date</th>
    <th>Maintenance Cost</th>
  </tr>
  {% for log in maintenance_logs_data %}
  <tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ log.incident_ID }}</td>
    <td>{{ log.MaintenanceLogIdentifier }}</td>
    <td>{{ log.override_system_tree_item_replaced_part }}</td>
    <td>{{ log.CostItem }}</td>
    <td>{{ log.NumberofMen }}</td>
    <td>{{ log.ElapsedMaintenanceTime }}</td>
    <td>{{ log.ActionTakenMaintenace }}</td>
    <td>{{ log.TotalMaintenanceTime }}</td>
    <td>{{ log.UserValue2 }}</td>
    <td>{{ log.MaintenanceStartDate }}</td>
    <td>{{ log.CostMaintenance }}</td>
  </tr>
  {% endfor %}
  <tr style="background-color: #ffce55; height: 10px;">
    <td colspan="12" style="text-align: center; cursor: pointer;">
      <a id="open-popup" href="{% url 'maintenance_log_create' %}">Click here to insert a new record</a>
    </td>
  </tr>
</table>
