{% extends 'index.html' %} {% block content %}
    <div style="display: flex; justify-content: space-between; margin: 30px;">
        <div style="width: 910px;">
            <!-- {% include 'currentState.html' %}
                failureInfoDone doesnt exist anymore
            {% include 'failureInfoDone.html' %} -->
        </div>
        <div
            style="display: flex; flex-direction: column; justify-content: flex-start; width: 100%; margin-left: 20px;">
            <!-- reviewReport doesnt exists anymore
                {% include 'reviewReport.html' %}
                analysisReport doesn exist anymore
            {% include 'analysisReport.html' %} -->
        </div>
    </div>
{% endblock %}