<div class="navbar" style="background-color: #5c6571;">
    <a href="{% url 'view_all_incidents' %}" class="custom-link">Incidents</a>
    <a href="{% url 'maintenance_logs' %}" class="custom-link">View Maintenance Logs</a>
    <a href="{% url 'operating_times' %}" class="custom-link">Operation Times</a>
    <a href="{% url 'incident_report' %}" class="custom-link">Incident Report</a>
    <a href="{% url 'analysis' %}" class="custom-link">Analysis</a>
    <a href="{% url 'review_board' %}" class="custom-link">Review Board</a>
    <a href="{% url 'overview' %}" class="custom-link">Overview</a>
</div>
