{% extends 'index.html' %} {% block content %}
<div style="display: flex; justify-content: space-between; margin: 30px;">
    <div style="width: 910px;">
        {% include 'currentState.html' %}
        {% include 'failureInfoDone.html' %}
    </div>
    <div style="display: flex; justify-content: flex-end; width: 100%; margin-left: 20px;">
        {% include 'reviewReport.html' %}
    </div>
</div>
{% endblock %}

<!-- ========================================================= -->
<div style="display: flex; justify-content: space-between; width: 910px; margin: 30px;">
    {% include 'initialFailureInfo.html' %}
    {% include 'detailedFailureInfo.html' %}
</div>

<!-- ========================================================= -->
<div style="display: flex; justify-content: space-between; margin: 30px;">
    <div style="width: 910px;">
        {% include 'currentState.html' %}
        {% include 'failureInfoDone.html' %}
    </div>
    <div style="display: flex; justify-content: flex-end; width: 100%; margin-left: 20px;">
        {% include 'reviewReport.html' %}
    </div>
</div>
