{% extends 'index.html' %}

{% load static %}

{% block content %}
<div style="display: flex; flex-direction: column; align-items: center; pointer-events: none; margin: 0px 20px 0px 20px;">
    <div style="display: flex; justify-content: space-between; margin-top: 30px; width: 100%;">
        {% include 'incidentInfo.html' %}
        <div style="height: 100%; display: flex; flex-direction: column; align-items: center;">
            <div style="height: 220px;">
                <img src="{% static 'images/escudoArmada.png' %}" alt="Escudo Armada" style="height: auto;">
            </div>
            {% include 'currentState.html' %}
        </div>
        {% include 'equipmentDetails.html' %}
    </div>
    <div style="margin-top: 20px; width: 100%;">
        {% include 'locationDetails.html' %}
    </div>
    <div style="margin-top: 20px; width: 100%;">
        {% include 'incidentDetails.html' %}
    </div>
</div>
{% endblock %}